local.*.md

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg
*.egg-info/
dist/
build/
*.so
.pytest_cache/

# Linting & Code Quality Tools
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# VSCode
.vscode/

# Vim
*.swp
*.swo
*.bak
*.tmp

# environment variable
.env

# macosx
.DS_Store
